/* Variables */
:root {
  /* Colors */
  --accent-color: #662BE7;
  --border-color: #767171;
  --text-primary-color: #272727;
  --text-secondary-color: #595959;


  /* Spacing */
  --resume-top-padding: calc(3 * var(--default-spacing));
  --resume-side-padding: calc(2 * var(--default-spacing));
}


/* Utility classes */

.print-only {
  @media screen {
    display: none;
  }
}

.screen-only {
  @media print {
    display: none;
  }
}


/* Print styles */

@page {
  size: A4 portrait;
  margin: 0.5in;
}

@media print {
  /* Prevent the table from breaking across pages */
  table, figure {
    page-break-inside: avoid;
  }
}


/* Resume styles */
* {
  box-sizing: border-box;
}

html {
  background: #eee;
}

body {
  /* prevent child margins from overflowing outside parent */
  display: flow-root;
}

a {
  color: var(--text-secondary-color);
  transition: color 0.3s ease;

  &:hover {
    color: var(--accent-color);
  }
}

ul {
  list-style-type: '⇢';
  padding-left: 2rem;
}

li {
  padding-left: 1rem;
}

main {
  @media screen {
    max-width: 950px;
    margin: var(--resume-top-padding) auto;
    padding: var(--resume-top-padding) var(--resume-side-padding);
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
  }

  @media screen and (width < 1000px) {
    max-width: none;
    margin: 0;
  }
}


/* Header section */
header {
  h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: var(--default-spacing);
    padding-bottom: var(--default-spacing);
    border-bottom: 3px solid var(--border-color);
  }

  & .name {
    color: var(--accent-color);
    font-size: 2rem;
    font-weight: bold;
  }

  & .role {
    font-size: 1.2rem;
    font-weight: normal;
  }

  & img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
  }

  & a {
    display: block;
    text-decoration: none;
    color: var(--text-secondary-color);
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    transition: all 0.3s ease;
    white-space: nowrap;

    &:hover {
      color: #fff;
      background-color: var(--accent-color);
    }
  }

  & .social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin: 0 0 var(--default-spacing);
    list-style-type: none;
  }
}


/* Sections */
section {
  & h2 {
    border-bottom: 2px solid var(--border-color);
    margin: 0 0 var(--default-spacing);
    padding-bottom: calc(var(--default-spacing) / 2);
  }

  p {
    margin: 0;
  }

  ul {
    margin: 0;
  }

  & .subsection-dates {
    color: var(--text-secondary-color);
  }

  & h3 {
    margin-bottom: 0;
  }
}
