<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Valentin Radulescu - Front-End Developer</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css" rel="stylesheet">

  <link rel="canonical" href="https://valentin.io/">
  <base target="_blank">
  <meta name="theme-color" content="#00c08e">
  <meta name="description" content="Hi! I&#039;m Valentin, a Front-End Developer with a passion for creating immersive visual experiences.">
  <meta name="robots" content="noodp">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Valentin Radulescu - Front-End Developer">
  <meta property="og:description" content="Hi! I&#039;m Valentin, a Front-End Developer with a passion for creating immersive visual experiences.">
  <meta property="og:url" content="https://valentin.io/">
  <meta property="og:site_name" content="Valentin Radulescu">
  <meta property="fb:admins" content="100000168623106">
  <meta property="og:image" content="<%= require('./valentin-radulescu.jpg')%>">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:description" content="Hi! I&#039;m Valentin, a Front-End Developer with a passion for creating immersive visual experiences.">
  <meta name="twitter:title" content="Valentin Radulescu - Front-End Developer" />
  <meta name="twitter:site" content="@RadValentin">
  <meta name="twitter:image" content="<%= require('./valentin-radulescu.jpg')%>">
  <meta name="twitter:creator" content="@RadValentin">
</head>

<body>
  <div class="resume">
    <h1>
      <span>Valentin Radulescu</span>
      <br/>
      <span class="role">Front-End Developer</span>
    </h1>
    <header>
      <div class="social">
        <a href="https://twitter.com/RadValentin">
          <i class="fa fa-twitter"></i> @RadValentin</a>
        <a href="https://github.com/RadValentin">
          <i class="fa fa-github"></i> RadValentin</a>
        <a href="https://codepen.io/valentin">
          <i class="fa fa-codepen"></i> @valentin</a>
        <a href="https://stackoverflow.com/users/1333383/valentin">
          <i class="fa fa-stack-overflow"></i> Valentin</a>
        <a href="https://valentin.io">
          <i class="fa fa-globe"></i> valentin.io</a>
      </div>
      <div class="summary">
        <p>Experienced front-end developer searching for an awesome remote team.</p>
        <p>Driven by curiosity I spend my time between working on large scale web applications or building smaller personal
          projects, often trying out new APIs or emerging libraries, eager to bind them to my will.</p>
        <p>
          I love to work with:
          <span class="tag">React</span>
          <span class="tag">Redux</span>
          <span class="tag">WebVR</span>
          <span class="tag">Webpack</span>
          <span class="tag">LESS</span>
          <span class="tag">SASS</span>
        </p>
      </div>
    </header>
    <section class="experience">
      <h2>
        Experience
      </h2>
      <div class="subsection">
        <h3>
          Front-End Developer at
          <a href="https://hootsuite.com/">Hootsuite</a>
        </h3>
        <p>May 2014 → Jul 2017 (3 years, 3 months)</p>
        <p>As part of the Bucharest team I helped build the UI for Hootsuite's Analytics app from scratch using React, Redux
          and LESS. My main focus outside day-to-day tasks was on improving developer experience through documentation and
          better tooling. I was also involved with organizing a biannual React Meetup.</p>
        <p>
          <b>Achievements:</b> Kickstarted an internal repo of shared React components during a hackathon that ended up being
          used across the company.</p>
      </div>
      <div class="subsection">
        <h3>
          Freelance Front-End Developer at
          <a href="https://www.upwork.com/">Upwork</a>
        </h3>
        <p>Jan 2013 → May 2014 (1 year, 5 months)</p>
        <p>Worked with international clients and gained a good reputation as a freelance front-end developer. Successfully completed
          multiple projects for both large and small businesses and gained consistent positive feedback.</p>

        <p>
          <b>Achievements:</b> Many happy customers and a total rating of 4.97 out of 5 👌</p>
      </div>
      <div class="subsection">
        <h3>
          Front-End Developer at
          <a href="http://www.winarrow.com/">Winarrow</a>
        </h3>
        <p>Jan 2012 → Jan 2013 (1 year, 1 month)</p>
        <p>I was tasked with writing standards compliant, cross-browser compatible HTML and CSS for a large number of niche
          e-commerce websites.</p>

        <p>
          <b>Responsibilities:</b> PSD to HTML slicing, convert sliced designs to Wordpress themes, SEO, A/B testing</p>
      </div>
    </section>
    <section>
      <h2>
        Projects
      </h2>
      <div class="subsection">
        <h3>A Watch by You
          <a href="http://designawatch.okmylo.com/">
            <i class="fa fa-link"></i>
          </a>
        </h3>
        <p>
          A microsite built to get user feedback for an upcoming Kickstarter campaign. The gathered feedback was used to dictate what
          the final product (a set of watches) looked like.
        </p>
      </div>
      <div class="subsection">
        <h3>MYLO: Essentials x A Better Backpack
          <a href="http://essentials.okmylo.com/">
            <i class="fa fa-link"></i>
          </a>
        </h3>
        <p>
          A microsite showcasing essential items for designers and creatives. Built to work flawlessly on desktop, tablet and mobile.
        </p>
      </div>
    </section>
    <section>
      <div class="subsection">
        <h2>Location</h2>
        <p>
          Currently located in
          <b>Bucharest, Romania</b> but I tend to move around. Only interested in
          <b>remote work</b> opportunities for the foreseeable future.
        </p>
      </div>
      <div class="subsection">
        <h2>Contact</h2>
        <p>
          Want to build the next big thing or just chat? Drop me an email at
          <b>
            <a href="mailto:hi@valentin.io">hi@valentin.io</a>
          </b>
        </p>
      </div>
    </section>
  </div>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108625326-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-108625326-1');
  </script>
</body>

</html>