@import './global.less';

* {
  box-sizing: border-box;
}

html {
  background: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: @font-weight-normal;
  color: @text-color;
}

a {
  text-decoration: none;
  color: @hi-color;
}
